{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    {% for item in entries %}
    <table>
        <tr>
            <td rowspan="4">
                <img src="{{item.0}}" alt="Item Image">
            </td>
            <td rowspan="4">
                <h3>{{item.1}}<h3>
            </td>
            <td>
                Description : {{item.2}}
            </td>
        </tr>
        <tr>
            <td>
                Price : Rs. {{item.3}}
            </td>
        </tr>
        <tr>
            <td>
                <small>Created on {{ item.4 }} </small>
            </td>
        </tr>
    </table>
  
    {% endfor %}

{% endblock %}