{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% if not entries %}
    <br>
        <h3> Nothing Listed yet.... </h3>
    
    {% else %}
    
    {% for item in entries %}
    <br>
    
    <a class="active" href="{% url "item" item.0 %}">
    <table class="active_list">
        <tr>
            <td>
                <img src="{{ item.1 }}" alt="Item Image">
            </td>
            <td>
                <h3>{{ item.2 }}<h3>
            </td>
             <td>
                {{ item.3 }}
            </td>
            <td>
                Price :  Rs. {{ item.4 }}
            </td>
        </tr>
        <tr>
            <td>
                <small>Created on {{ item.5 }} </small>
            </td>
        </tr>
    </table>
    </a>
    {% endfor %}
    {% endif %}
{% endblock %}