{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Item Information</h2>

    {% if flag == 'yes' %}
    <form action="{% url 'watchlist' item.0 %}" method="post">
        {% csrf_token %}
        <br>
        <input class="btn btn-primary" id="watch_list" type="submit" value="Add to Watchlist">
    </form>
    {% else %}
    <form action="{% url 'watchlist' item.0 %}" method="get">
        {% csrf_token %}
        <br>
        <input class="btn btn-primary" id="watch_list" type="submit" value="Remove from Watchlist">
    </form>
    {% endif %}
    
    <br>
    
    <table class="item_info">
        <tr>
            <td rowspan="4">
                <img src="{{ item.1 }}" alt="Item Image">
            </td>
            <td>
                <h3>{{ item.2 }}<h3>
            </td>
            <td>
               Current Price :  Rs. {{ item.4 }}
            </td>
        </tr>
        <tr></tr>
        <tr>
            <td>
                Description :  {{ item.3 }}
            </td>

            <td>
                Category : {{ item.6 }}
            </td>
        </tr>
        <tr>
        </tr>
        <tr>
            <td>
                <small>Created on {{ item.5 }} </small>
            </td>
        </tr>
        <tr>
            <td>
                Listed by : {{ user }}
            </td>
        </tr>
    </table>
    
    <form action="{% url 'do_bid' item.0 %}" method="post">
        {% csrf_token %}
        <p> Starting Bid :  Rs. {{ startingbid }}  and  Current Highest Bid : Rs. {{ maxbid }}</p>
        <p><small>{{ bidcount }} bids so far. This is your current bid.</small></p>
        <input type="hidden" name="next" value="{{ request.path }}">
        <p>Rs. <input autofocus type="text" name="Bid" placeholder="Your Bid"></p>
        <input class="btn btn-primary" type="submit" value="Place Bid">
    </form>

    {% if close == 1 %}
    <form action="{% url 'close' item.0 %}" method="post">
        {% csrf_token %}
        
        <br>
        <p id="watch_list"> You can Close your auction listing from here... </p>
        <input class="btn btn-primary" id="watch_list" type="submit" value="Close Auction">
    </form>
    {% endif %}
    
{% endblock %}