{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Item Information</h2>

    <table class="active_list">
        <tr>
            <td rowspan="4">
                <img src="{{ item.1 }}" alt="Item Image">
            </td>
            <td rowspan="4">
                <h3>{{ item.2 }}<h3>
            </td>
            <td>
                Description :  {{ item.3 }}
            </td>
        </tr>
        <tr>
            <td>
                Price :  Rs. {{ item.4 }}
            </td>
        </tr>
        <tr>
            <td>
                <small>Created on {{ item.5 }} </small>
            </td>
        </tr>
    </table>

{% endblock %}