{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Watch List</h2>

    {% if not entries %}
    <br>
        <h3> Nothing Watchlisted yet.... </h3>
    
    {% else %}
    
    {% for item in entries %}
    <br>
    
    <a class="active" href="{% url "item" item.0 %}">
    <table class="watch_list">
        <tr>
            <td>
                <img src="{{ item.1 }}" id="watchimg" alt="Item Image">
            </td>
            <td colspan="2">
                <h3>{{ item.2 }}<h3>
            </td>
            <td>
                Price :  Rs. {{ item.4 }}
            </td>
        </tr>
    </table>
    </a>
    {% endfor %}
    {% endif %}

{% endblock %}