body {
    padding: 10px;
    background-color: white;
}

.body-header {
    background-image: linear-gradient(-180deg, orange, yellow);
}

h1 {
    color: blue;
    font-weight: bolder;
    text-align: center;
}

h2 {
    font-weight: bold;
}

table.create_list {
    border-collapse: separate;
    border-spacing: 20px;
    padding: 20px;
    width: 100%;
}

table.active_list {
    border-collapse: separate;
    border-spacing: 10px;
    table-layout: auto;
    padding: 10px;
    width: 100%;
    border: 1px solid gray;
    background-color: #efefef;
}

table.item_info {
    border-collapse: separate;
    border-spacing: 20px;
    padding: 20px;
    width: 100%;
}

table.cat_items {
    border-collapse: separate;
    border-spacing: 15px;
    padding: 20px;
    width: 100%;
    border: 2px solid gray;
}

table.watch_list {
    table-layout: fixed;
    border-collapse: separate;
    padding: 2px;
    width: 100%;
    border: 1px solid gray;
    background-color: #aaffaa;
}

td {
    padding: 0px 50px 0px 50px;
}

a.active {
    color: black;
}

img {
    height: 200px;
    width: 250px;
}

img#watchimg {
    height: 100px;
    width: 130px;
}

img.cat_img {
    height: 170px;
    width: 170px;
}

p.cat_name {
    text-align: center;
    padding: 20px;
    text-emphasis: bold;
}

table.cat_table {
    table-layout: auto;
    border-collapse: separate;
    border-spacing: 40px;
    padding: 20px;
    width: 100%;
}

#save_list {
    margin-left: 600px;
}

#watch_list {
    position: relative;
    margin-left: 1000px;
}

#status {
    position: relative;
    margin-left: auto;
}