body {
    padding: 10px;
    background-color: white;
}
.body-header {
    background-image: linear-gradient(-180deg, orange, yellow);
}

h1 {
    color: blue;
    font-weight: bolder;
    text-align: center;
}

h2 {
    font-weight: bold;
}

table.create_list {
    border-collapse: separate;
    border-spacing: 20px;
    padding: 20px;
    width: 100%;
}

table.active_list {
    border-collapse: separate;
    border-spacing: 20px;
    padding: 20px;
    width: 100%;
    border: 1px solid gray;
    background-color: #efefef;
}

table.item_info {
    border-collapse: separate;
    border-spacing: 20px;
    padding: 20px;
    width: 100%;
}

table.watch_list {
    border-collapse: separate;
    border-spacing: 20px;
    padding: 50px;
}

td {
    padding: 0px 50px 0px 50px; 
}

a.active {
    color: black;
}

img {
    height: 200px;
    width: 300px;
}

#save_list {
    margin-left: 400px;
}

#watch_list {
    position: relative;
    margin-left: 1000px;
}

#status {
    position : relative;
    margin-left: auto;
}